<a href="https://colab.research.google.com/github/ElshadAliyev1/Data-Science/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+'. Your age is '+age)

What is your name? Elshad
What is your age? 21
Your name is Elshad. Your age is 21

In [2]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if(a==b):
  print("a and b are equal")
else:
  print("a and b are not equal")

a and b are not equal

In [4]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if(a>b):
  print("a is greater than b")
elif(a==b):
  print("a and b are equal")
else:
  print("a is less than b")

a is less than b

In [5]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [7]:
#Q5-Using while loop, print 5,4,3,2,1
for k in range(5,0,-1):
  print(k)

5
4
3
2
1

In [11]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range(10,-1,-2):
  if k!=8:
    print(k)

10
6
4
2
0

In [16]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

print("AGE CALCULATOR")
x=int(input("Enter your birth year: "))
def calc(x=x, y=2022):
  return y-x
print(calc())

AGE CALCULATOR
Enter your birth year: 2000
22

In [23]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def substraction(x,y):
    return x-y
  def multiplication(x,y):
    return x*y
  def division(x,y):
    return x/y

print(arithmetic.addition(3,4))
print(arithmetic.substraction(10,2))
print(arithmetic.multiplication(2,6))
print(arithmetic.division(8,4))

7
8
12
2.0

In [19]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n = int(input("Enter number "))
sum = 0
# loop from 1 to n
for num in range(1, n+1, 1):
  sum = sum + num
print("Sum of first", n, "number is: ", sum)

Enter number 7
Sum of first 7 number is:  28

In [20]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import numpy as np
k=np.random.rand(1,10)
k
list=['0.1', '0.15', '0.23', '0.289', '0.13524', '0.124325531', '0.87654', '0.76543', '0.56786543', '0.9876543456']
print(list[:3])

['0.1', '0.15', '0.23']

In [24]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for e in range(1, n+1, 1):
  if (e%3==0):
    print(e)

3
6
9
12
15